# me
set realname            = "Jon Dow"                     # my name
set from                = "jon@dow.com"                 # my e-mail address

# my credentials
set smtp_url            = "smtp://jon@dow.com@smtp.gmail.com:587/"
set smtp_pass           = "sdfghjklxsdfghjk"            # smtp passwd
set imap_user           = "jon@dow.com"                 # imap user
set imap_pass           = "sdfghjklxsdfghjk"            # imap pass

# vim: ft=muttrc
